@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.transparent-table {
  background-color: transparent !important; /* Fundo transparente */
  border: none !important; /* Remove bordas */
}

.transparent-table .p-datatable-header {
  background-color: transparent !important; /* Cabeçalho transparente */
}

.transparent-table .p-datatable-tbody > tr {
  background-color: transparent !important; /* Linhas transparentes */
  border-bottom: 1px solid rgba(255, 255, 255, 0.2); /* Linha divisória */
}

.transparent-table .p-datatable-tbody > tr:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.05) !important; /* Alterna linhas com leve transparência */
}

.transparent-table .p-datatable-tbody > tr:hover {
  background-color: rgba(255, 255, 255, 0.1) !important; /* Destaque ao passar o mouse */
}

.transparent-table .p-datatable-thead > tr > th {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2); /* Linha divisória */
}

.transparent-table .p-paginator {
  background-color: transparent !important; /* Cabeçalho transparente */
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Altura da tela inteira */
  /* background-color: #f4f4f4; Cor de fundo opcional */
  background-image: url('../assets/loginImage.png');
  background-size: 100% auto;  
  background-repeat: no-repeat;
  background-position: center;
}

.login-card {
  height: 300px;
  width: 350px; /* Largura fixa do card */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para o card */
}

.error-message {
  color: red;
  margin-bottom: 1rem; /* Espaçamento inferior para a mensagem de erro */
}


.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh; /* Ajusta a altura para ocupar toda a tela */
  width: 60vw;
  background-color: #f9f9f9; /* Cor de fundo */
}

.register-card {
  width: 400px; /* Ajuste a largura conforme necessário */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.field {
  margin-bottom: 1.5rem; /* Espaçamento entre os campos */
}

.success-message {
  color: green; /* Estilo para a mensagem de sucesso */
  margin-bottom: 1rem;
}
